* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora, "Trebuchet MS", Helvetica, sans-serif;
}
:root {
  --background: #0f0e17;
  --orange: #ff8906;
  --headline: #fffffe;
  --button-text: #fffffe;
  --paragraph: #a7a9be;
  --peachy: #f25f4c;
  --extra: #e53170;
}

body {
  background-color: var(--background);
}

h1,
h2,
h3,
li {
  color: var(--headline);
}

p {
  color: var(--paragraph);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--paragraph);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--peachy);
}

/* end */

/* Button */
.cta {
  color: var(--button-text);
  background-color: var(--orange);
  padding: 1.2rem 2rem;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
/* end */

/* miscelleneous */
.peach-border {
  border: 20px solid var(--peachy);
}
.top-bottom {
  padding: 1em 0;
}
.medium-text {
  font-size: 1.3rem;
  line-height: 1.8;
}
/* end */

/* Header CSS */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.outter_nav {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 30%;
}
.nav_list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.list_item a {
  text-decoration: none;
  color: var(--headline);
}
.icon_title {
  display: flex;
  align-items: center;
  width: 70%;
}
.icon {
  width: 50px;
  height: auto;
  margin: 1em;
}
.top_title {
  font-size: 18px;
}
/* end */

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fullwidth {
  margin: 0 16%;
}
.prof_pic {
  background-color: var(--orange);
  border-radius: 50%;
  box-shadow: 1px 1px 1px var(--peachy);
  min-width: 220px;
}
#title_name {
  font-size: 3.5rem;
}
#sub_title {
  font-size: 3rem;
}
/* end */

/* Force center of element */
.grid-center {
  display: grid;
  place-items: center;
}
/* end */

/* Flex columns and rows */
.col {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.half-full {
  width: 50%;
  padding: 1em;
}
/* end */


@media (max-width: 1000px) {
    .fullwidth {
      margin: 0 9%;
    }
}
@media (max-width: 768px) {
    .half-full {
        width: 100%;
    }
    .fullwidth {
        margin: 0 9%;
    }
    .me_text {
        order: 2;
    }
    .me_pic {
        order: 1;
        margin: 1em 2em;
    }
}
