/* CSS styles specific to the About Me page */
:root {
    --background: #0f0e17;
    --orange: #ff8906;
    --headline: #fffffe;
    --button-text: #fffffe;
    --paragraph: #a7a9be;
    --peachy: #f25f4c;
    --extra: #e53170;
  }

.loop_pic {
    max-width: 94%;
    border-radius: 3px;
}

/* slideshow css */
.glide {
    padding: 1em;
}
.glide__slide {
    display: flex;
    justify-content: center;
}
.glide__slide img {
    max-height: 400px;
    max-width: 100%;
}
.glide__arrows {
    display: flex;
    justify-content: center;
    gap: 0.6em;
    margin-top: 1em;
}
.glide__arrows button {
    border: none;
    background: transparent;
}
